################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/bin/Debug/net9.0
/Application/obj
/Domain/bin/Debug/net9.0
/Domain/obj
/SignalBooster/bin/Debug/net9.0
/SignalBooster/obj
/SignalBoosterUnitTests/bin/Debug/net9.0
/SignalBoosterUnitTests/obj
